[submodule "Y1-02/01418113/LAB/ASSG/07-git-101-naiithink"]
	path = Y1-02/01418113/LAB/ASSG/07-git-101-naiithink
	url = git@github.com:CS113-642/07-git-101-naiithink.git
[submodule "Y1-02/01418113/LAB/ASSG/09-struct-naiithink"]
	path = Y1-02/01418113/LAB/ASSG/09-struct-naiithink
	url = git@github.com:CS113-642/09-struct-naiithink.git
[submodule "Y2-01/01418211/LAB/lab-02-assignment---class-and-object-naiithink"]
	path = Y2-01/01418211/LAB/ASSG/lab-02-assignment---class-and-object-naiithink
	url = git@github.com:CS211-651/lab-02-assignment---class-and-object-naiithink.git
[submodule "Y2-01/01418211/LAB/ASSG/lab-03-assignment-class-and-object-2-naiithink"]
	path = Y2-01/01418211/LAB/ASSG/lab-03-assignment-class-and-object-2-naiithink
	url = git@github.com:CS211-651/lab-03-assignment-class-and-object-2-naiithink.git
[submodule "Y2-01/01418211/LAB/ASSG/lab-04-assignment---mvc-and-javafx-naiithink"]
	path = Y2-01/01418211/LAB/ASSG/lab-04-assignment---mvc-and-javafx-naiithink
	url = git@github.com:CS211-651/lab-04-assignment---mvc-and-javafx-naiithink.git
